/*Alignements et transformations*/

.alignGauche {
    text-align : left;
}

.alignDroite {
    text-align : right;
}

.alignCentre {
    text-align : center;
}

.justifie {
    text-align : justify;
}

.majuscule {
    text-transform: uppercase;
}

.minuscule {
    text-transform: lowercase;
}