@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

article {
	border-top : solid 2px black;
	border-left : solid 2px #131326;
	margin : 15px 10px 15px 10px;
	padding-bottom : 2px;
	background-color : white;
	@include box-sizing(border-box);
	@include border-radius(0% 0% 10% 0%, 0% 0% 25% 0%);

	.titreArticle {
		font-size : 1.5em;
		margin : 0px 0px 0px 0px;
		padding : 8px;
		background-image : linear-gradient(black, #131326);
		color : white;
		display : inline-block;
		@include border-radius(0% 0% 15% 0%, 0% 0% 45% 0%);
	}
}


