@import "compass/css3/border-radius";

.btn
{
    font-size: 1em;
    @include border-radius(7px);
    padding: 2px;
    margin : 10px 5px 10px 5px;
}

.btn:hover 
{
    cursor: pointer;
}

.btn-normal {
    background-image : linear-gradient(black, #131326);
    color : white;
}

.btn-normal:hover {
    background-image : linear-gradient(black, #3B3B4E);
}

.btn-rouge {
    background-image : linear-gradient(black, #C60000);
    color : white;
}

.btn-rouge:hover {
    background-image : linear-gradient(black, red);
}

.btn-blue
{
    background-image : linear-gradient(black, #3090FF);
    color: white;
}

.btn-blue:hover
{
    background-image : linear-gradient(black, #62C2FF);
}

.btn-green
{
    background-image : linear-gradient(black, #00AA00);
    color: white;
}

.btn-green:hover
{
   background-image : linear-gradient(black, #00CD00);
}

.btn-lg
{
    font-size: 1.2em;
    padding: 3px;
}

.btn-sm
{
    font-size: 0.8em;
    padding: 1px;
}

.fancy {
    background-image : radial-gradient(red, black);
    @include border-radius(0px 7px 0px 7px);
    color : white;
}

.fancy:hover {
    background-image : radial-gradient(black, red);
    @include border-radius(7px 0px 7px 0px);
}