@import "../mixin/grilleMixin.scss";

$goutiere : 1%;
$nb : 8;

/* GENERATION DES CLASSES CSS */
@include generation($nb, $goutiere);

.first {
    clear : left;
}

.last {
    margin-right : 0;
}

.row {
    clear : right;
}

.clearfix {
  overflow: auto;
  zoom : 1;
}