@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

header {
	width : 100%;
	@include border-radius(0% 0% 30% 30%, 0% 0% 30% 30%);
	@include box-sizing(border-box);
	background-image : linear-gradient(black, #131326);
	min-height : 100px;
	text-align : center;
	padding-top : 20px;
	margin-bottom : 20px;

	h1 {
		margin : 0;
		padding : 0;
		color : white;
	}
}

footer {
	width : 100%;
	@include border-radius(30% 30% 0% 0%, 30% 30% 0% 0%);
	@include box-sizing(border-box);
	background-image : linear-gradient(black, #131326);
	min-height : 50px;
	text-align : center;
	padding-top : 20px;
	color : white;
	margin-top : 15px;
}