/*Texte inline*/

strong {
    font-weight: bold;
}

em {
    font-style : italic;
}

abbr {
    cursor : help;
    border-bottom : dotted 1px;
}

del {
	text-decoration : line-through;
}

ins, u {
	text-decoration : underline;
}

mark {
	background-color: #131326;
	color : white;
}