/*Listes*/

ul {
    margin-top : 10px;
    margin-bottom : 10px;
}

ul li {
    margin-left : 20px;
}

ul li:before {
    content : "\2736 \20";
}

.square li:before {
    content : "\25aa \20";
}

.noDecoration li:before {
    content : none;
}
