@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

.menuBarre {
	display : flex;
	width : 80%;
	margin : 20px auto 30px auto;

	li {
		display : inline;
		height : 40px;
		line-height : 40px;
		vertical-align : middle;
		flex : 1;
		@include box-sizing(border-box);
		padding : 0px;
		text-align : center;
		border : solid 1px;
		margin-left : 0;
		border-right : 0px;
		background-image: linear-gradient(#000000, #131326);

		a {
			width : 100%;
			height : 100%;
			display : block;
			color : white;
		}
	}

	li:before {
		content : none;
	}

	li:active {
		background-image: linear-gradient(#000000, #3b3b4e);
	}

	li:first-child {
		@include border-radius(8px 0px 0px 8px , 8px 0px 0px 8px);
	}

	li:last-child {
		@include border-radius(0px 8px 8px 0px , 0px 8px 8px 0px);
		border-right : solid 1px;
	}
}