/*Citation et code*/

blockquote {
    font-style : italic;
    background-color : #F0F0F0;
    border : groove;
    border-radius: 10px;
    padding : 10px;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 70%;
    overflow : auto;
}

blockquote:before {
    content : "Citation : \201c";
    font-style : normal;
}

blockquote:after {
    content:"\201d";
    font-style : normal;
}

code {
    background-color: #F7F7D4;
    display : block;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 70%;
    padding : 10px;
    border : groove;
    border-radius : 10px;
    font-family : "Courier New";
    overflow : auto;
}

code:before {
    content : "Code : ";
    font-style : normal;
    font-family : "Trebuchet MS";
}


kbd {
    font-family : "Courier New";
    font-size : 1.2em;
}