@import "reset.scss";
@import "header&footer.scss";
@import "titres.scss";
@import "paragraphes.scss";
@import "inline.scss";
@import "quote.scss";
@import "liste.scss";
@import "align.scss";
@import "table.scss";
@import "bouton.scss";
@import "../mixin/grilleMixin.scss";
@import "article.scss";
@import "liens.scss";
@import "menu.scss";

$goutiere : 1%;
$nb : 8;

body {
	background-color : #A0A0A0;
	font-family: "Trebuchet MS";
}

@include generation($nb, $goutiere);















