/*Tableaux*/
$trbgcolor : #D1F1FD;
$bgcolor : white;
$thbgcolor : #D1D1D1;
$hoverbgcolor : grey;

table {
    caption-side: bottom;
    background-color: $bgcolor;
    text-align : center;
    margin : 10px;
    border-collapse: collapse;
}

td, th {
    border : solid 1px;
    padding : 3px;
}

th {
    font-weight: bold;
    background-color: $thbgcolor;
}

caption {
    margin-top : 10px;
    text-decoration : underline;
}

.ligneAlterneeStructure {
    tbody {
        tr:nth-child(2n+1) {
            background-color : $trbgcolor;
        }
    }
}

.ligneAlterneeSimple {
    tr:nth-child(2n) {
        background-color : $trbgcolor;
    }
}

.ligneActive {
    tbody {
        tr:hover {
            background-color : $hoverbgcolor;
            color : white;
        }
    }

}