/*Titres et sous-titres*/

h1, h2, h3, h4, h5, h6 {
    color : black;
    font-weight: bold;
    margin : 15px 10px 20px 10px;
}

h1 {
    font-size : 2em;
}

h2 {
    font-size : 1.8em;
}

h3 {
    font-size : 1.6em;
}

h4 {
    font-size : 1.4em;
}

h5 {
    font-size : 1.2em
}

h6 {
    font-size : 1em;
}

small {
    color : gray;
    font-weight: normal;
    font-size : 75%;
}