@import "compass/css3/box-sizing";

@mixin spanX($size, $nbColonne, $goutiere) {
    width : $size * (100% - ($nbColonne - 1)) / $nbColonne + ($size - $goutiere);
}

@mixin offset($size, $nbColonne, $goutiere) {
    margin-left: $size * (100% - ($nbColonne - 1)) / $nbColonne + ($size - $goutiere) + $goutiere;
}

@mixin generation($nbColonne, $goutiere) {
    $creation : 1;
    @while $creation <= $nbColonne {
        /* GENERATION DES CLASSES */
        .span-#{$creation}{
            @include spanX($creation, $nbColonne, $goutiere);
            @include box-sizing(border-box);
            margin-right : $goutiere;
            float : left;
            margin-bottom : 1%;
            border : solid 1px;
        }
        
        .off-#{$creation} {
            @include offset($creation, $nbColonne, $goutiere);
        }
        $creation : $creation + 1;
    }

    .first {
        clear : left;
    }

    .last {
        margin-right : 0;
    }

    .row {
        clear : right;
    }

    .clearfix {
      overflow: auto;
    }
}
