/*Alignements et transformations*/
/* line 3, ../sass/align.scss */
.alignGauche {
  text-align: left;
}

/* line 7, ../sass/align.scss */
.alignDroite {
  text-align: right;
}

/* line 11, ../sass/align.scss */
.alignCentre {
  text-align: center;
}

/* line 15, ../sass/align.scss */
.justifie {
  text-align: justify;
}

/* line 19, ../sass/align.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 23, ../sass/align.scss */
.minuscule {
  text-transform: lowercase;
}
