/* line 4, ../sass/article.scss */
article {
  border-top: solid 2px black;
  border-left: solid 2px #131326;
  margin: 15px 10px 15px 10px;
  padding-bottom: 2px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 10% 0% / 0% 0% 25% 0%;
  border-radius: 0% 0% 10% 0% / 0% 0% 25% 0%;
}
/* line 13, ../sass/article.scss */
article .titreArticle {
  font-size: 1.5em;
  margin: 0px 0px 0px 0px;
  padding: 8px;
  background-image: linear-gradient(#000000, #131326);
  color: white;
  display: inline-block;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 15% 0% / 0% 0% 45% 0%;
  border-radius: 0% 0% 15% 0% / 0% 0% 45% 0%;
}
