/* line 4, ../sass/bouton.scss */
.btn {
  font-size: 1em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 2px;
  margin: 10px 5px 10px 5px;
}

/* line 12, ../sass/bouton.scss */
.btn:hover {
  cursor: pointer;
}

/* line 16, ../sass/bouton.scss */
.btn-normal {
  background-image: linear-gradient(#000000, #131326);
  color: white;
}

/* line 21, ../sass/bouton.scss */
.btn-normal:hover {
  background-image: linear-gradient(#000000, #3b3b4e);
}

/* line 25, ../sass/bouton.scss */
.btn-rouge {
  background-image: linear-gradient(#000000, #c60000);
  color: white;
}

/* line 30, ../sass/bouton.scss */
.btn-rouge:hover {
  background-image: linear-gradient(#000000, #ff0000);
}

/* line 35, ../sass/bouton.scss */
.btn-blue {
  background-image: linear-gradient(#000000, #3090ff);
  color: white;
}

/* line 41, ../sass/bouton.scss */
.btn-blue:hover {
  background-image: linear-gradient(#000000, #62c2ff);
}

/* line 46, ../sass/bouton.scss */
.btn-green {
  background-image: linear-gradient(#000000, #00aa00);
  color: white;
}

/* line 52, ../sass/bouton.scss */
.btn-green:hover {
  background-image: linear-gradient(#000000, #00cd00);
}

/* line 57, ../sass/bouton.scss */
.btn-lg {
  font-size: 1.2em;
  padding: 3px;
}

/* line 63, ../sass/bouton.scss */
.btn-sm {
  font-size: 0.8em;
  padding: 1px;
}

/* line 68, ../sass/bouton.scss */
.fancy {
  background-image: radial-gradient(#ff0000, #000000);
  -webkit-border-radius: 0px 7px 0px 7px;
  -moz-border-radius: 0px 7px 0px 7px;
  -ms-border-radius: 0px 7px 0px 7px;
  -o-border-radius: 0px 7px 0px 7px;
  border-radius: 0px 7px 0px 7px;
  color: white;
}

/* line 74, ../sass/bouton.scss */
.fancy:hover {
  background-image: radial-gradient(#000000, #ff0000);
  -webkit-border-radius: 7px 0px 7px 0px;
  -moz-border-radius: 7px 0px 7px 0px;
  -ms-border-radius: 7px 0px 7px 0px;
  -o-border-radius: 7px 0px 7px 0px;
  border-radius: 7px 0px 7px 0px;
}
