/* line 4, ../sass/header&footer.scss */
header {
  width: 100%;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 30% 30% / 0% 0% 30% 30%;
  border-radius: 0% 0% 30% 30% / 0% 0% 30% 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(#000000, #131326);
  min-height: 100px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 14, ../sass/header&footer.scss */
header h1 {
  margin: 0;
  padding: 0;
  color: white;
}

/* line 21, ../sass/header&footer.scss */
footer {
  width: 100%;
  -webkit-border-radius: 30% 30%;
  -moz-border-radius: 30% 30% 0% 0% / 30% 30% 0% 0%;
  border-radius: 30% 30% 0% 0% / 30% 30% 0% 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(#000000, #131326);
  min-height: 50px;
  text-align: center;
  padding-top: 20px;
  color: white;
  margin-top: 15px;
}
