/*Texte inline*/
/* line 3, ../sass/inline.scss */
strong {
  font-weight: bold;
}

/* line 7, ../sass/inline.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/inline.scss */
abbr {
  cursor: help;
  border-bottom: dotted 1px;
}

/* line 16, ../sass/inline.scss */
del {
  text-decoration: line-through;
}

/* line 20, ../sass/inline.scss */
ins, u {
  text-decoration: underline;
}

/* line 24, ../sass/inline.scss */
mark {
  background-color: #131326;
  color: white;
}
