/* line 1, ../sass/liens.scss */
a:focus {
  color: red;
  font-weight: bold;
}

/* line 6, ../sass/liens.scss */
a:hover {
  color: #636376;
  font-weight: bold;
}

/* line 11, ../sass/liens.scss */
a:active {
  color: silver;
  font-weight: bold;
}

/* line 16, ../sass/liens.scss */
a {
  color: #636376;
  text-decoration: inherit;
}
