/*Listes*/
/* line 3, ../sass/liste.scss */
ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 8, ../sass/liste.scss */
ul li {
  margin-left: 20px;
}

/* line 12, ../sass/liste.scss */
ul li:before {
  content: "\2736 \20";
}

/* line 16, ../sass/liste.scss */
.square li:before {
  content: "\25aa \20";
}

/* line 20, ../sass/liste.scss */
.noDecoration li:before {
  content: none;
}
