/* line 4, ../sass/menu.scss */
.menuBarre {
  display: flex;
  width: 80%;
  margin: 20px auto 30px auto;
}
/* line 9, ../sass/menu.scss */
.menuBarre li {
  display: inline;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  border: solid 1px;
  margin-left: 0;
  border-right: 0px;
  background-image: linear-gradient(#000000, #131326);
}
/* line 23, ../sass/menu.scss */
.menuBarre li a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}
/* line 31, ../sass/menu.scss */
.menuBarre li:before {
  content: none;
}
/* line 35, ../sass/menu.scss */
.menuBarre li:active {
  background-image: linear-gradient(#000000, #3b3b4e);
}
/* line 39, ../sass/menu.scss */
.menuBarre li:first-child {
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px 0px 0px 8px / 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px / 8px 0px 0px 8px;
}
/* line 43, ../sass/menu.scss */
.menuBarre li:last-child {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px 8px 8px 0px / 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px / 0px 8px 8px 0px;
  border-right: solid 1px;
}
