/*Citation et code*/
/* line 3, ../sass/quote.scss */
blockquote {
  font-style: italic;
  background-color: #F0F0F0;
  border: groove;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  overflow: auto;
}

/* line 17, ../sass/quote.scss */
blockquote:before {
  content: "Citation : \201c";
  font-style: normal;
}

/* line 22, ../sass/quote.scss */
blockquote:after {
  content: "\201d";
  font-style: normal;
}

/* line 27, ../sass/quote.scss */
code {
  background-color: #F7F7D4;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
  border: groove;
  border-radius: 10px;
  font-family: "Courier New";
  overflow: auto;
}

/* line 42, ../sass/quote.scss */
code:before {
  content: "Code : ";
  font-style: normal;
  font-family: "Trebuchet MS";
}

/* line 49, ../sass/quote.scss */
kbd {
  font-family: "Courier New";
  font-size: 1.2em;
}
