/*Tableaux*/
/* line 7, ../sass/table.scss */
table {
  caption-side: bottom;
  background-color: white;
  text-align: center;
  margin: 10px;
  border-collapse: collapse;
}

/* line 15, ../sass/table.scss */
td, th {
  border: solid 1px;
  padding: 3px;
}

/* line 20, ../sass/table.scss */
th {
  font-weight: bold;
  background-color: #d1d1d1;
}

/* line 25, ../sass/table.scss */
caption {
  margin-top: 10px;
  text-decoration: underline;
}

/* line 32, ../sass/table.scss */
.ligneAlterneeStructure tbody tr:nth-child(2n+1) {
  background-color: #d1f1fd;
}

/* line 39, ../sass/table.scss */
.ligneAlterneeSimple tr:nth-child(2n) {
  background-color: #d1f1fd;
}

/* line 46, ../sass/table.scss */
.ligneActive tbody tr:hover {
  background-color: grey;
  color: white;
}
