/*Titres et sous-titres*/
/* line 3, ../sass/titres.scss */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  margin: 15px 10px 20px 10px;
}

/* line 9, ../sass/titres.scss */
h1 {
  font-size: 2em;
}

/* line 13, ../sass/titres.scss */
h2 {
  font-size: 1.8em;
}

/* line 17, ../sass/titres.scss */
h3 {
  font-size: 1.6em;
}

/* line 21, ../sass/titres.scss */
h4 {
  font-size: 1.4em;
}

/* line 25, ../sass/titres.scss */
h5 {
  font-size: 1.2em;
}

/* line 29, ../sass/titres.scss */
h6 {
  font-size: 1em;
}

/* line 33, ../sass/titres.scss */
small {
  color: gray;
  font-weight: normal;
  font-size: 75%;
}
